<h1>
    Data Sources and Visual Query Demos
</h1>
<div class="sc-element">
    @Edit.Toolbar()
    
    This is a app to build demo-queries, mainly for training and screenshots. <br/>
    
</div>

<div>
    Click here 
    @Edit.Toolbar(actions: "app")
        
    to discover and play with data-sources, go into the admin-section and experiment with the queries.
</div>

<div>
    <h2>Contents </h2>
    You'll find examples for almost all data-sources, incl.
    <ol>
        <li>App DataSource(in various scenarios)</li>
        <li>Attribute Filter</li>
        <li>ContentType Filter</li>
        <li>Dnn Sql DataSource</li>
        <li>EntityId / ItemId Filter</li>
        <li>Module / Instance DataSource</li>
        <li>Module / Instance with demo to provide configuration to a query</li>
        <li>Owner Filter</li>
        <li>Paging</li>
        <li>Relationship Filter</li>
        <li>Relationship Filter with Fallback</li>
        <li>Shuffle</li>
        <li>Sql DataSource (various examples)</li>
        <li>Value Filter</li>
        <li>Value Sort (various examples)</li>
    </ol>
</div>

<div>
    <h2>Special Demo with Configurable Query</h2>
    To try the special query where a module-datasource is used to change how a query works, please switch the view/template to <strong>Module DS as Configuration (demo), as it is pre-configured to have a configuration ready. </strong>
</div>